html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grains {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.grains li {
  width: 100%;
}

.grains img {
  width: 100px;
  display: inline-block;
  float: left;
}

.grains h2 {
  display: inline-block;
}

.grains p {
  display: inline-block;
}
